voiceassitant/msflow_adviseinteams/Microsoft.Flow/flows/ffb4b833-ae8a-4abd-848c-33d4887fe23c/definition.json
{"name":"02909049-0373-40ea-b898-b506c82719b0","id":"/providers/Microsoft.Flow/flows/02909049-0373-40ea-b898-b506c82719b0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Smart Office Advise in Teams","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1c1e655b-2148-4df6-a1c4-009b2669bd7e","type":"User","tenantId":"e3cf3c98-a978-465f-8254-9d541eeea73c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-09T19:19:05.7485369Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a58ae6c5-876d-4341-947a-5e5a91e7088b"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"name":{"type":"string"},"companyname":{"type":"string"},"VisitorHost":{"type":"string"}}},"method":"POST"}}},"actions":{"Response":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"0ea3156b-8e8e-45a7-90a8-cf6614fd4b21"},"type":"Response","kind":"Http","inputs":{"statusCode":200}},"Search_for_users_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"b61423be-1e97-4d49-bde4-16e8baea776b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"SearchUserV2"},"parameters":{"searchTerm":"@triggerBody()?['VisitorHost']"},"authentication":"@parameters('$authentication')"}},"Filter_array":{"runAfter":{"Search_for_users_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"2ca766c1-5ab7-4de4-883b-fc0aa9decedf"},"type":"Query","inputs":{"from":"@outputs('Search_for_users_(V2)')?['body/value']","where":"@not(contains(item()?['DisplayName'], 'Admin'))"}},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"a926c66c-86b8-4944-996f-2112b5a48a3b"},"type":"Http","inputs":{"method":"POST","uri":"https://webexapis.com/v1/messages","body":{"toPersonEmail":"@{items('Apply_to_each')?['UserPrincipalName']}","text":"Hello,  @{triggerBody()?['name']} from @{triggerBody()?['companyname']} is waiting for you in the lobby ! "},"authentication":{"type":"Raw","value":"Bearer Zjk0YjVhYTQtYjZmYi00ZmU1LWFiNGUtZTE5OGZhMjJlMmE1MjQzZTQ3NmEtMWY3_PF84_0198f08a-3880-4871-b55e-4863ccf723d5"}}}},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"6739e332-6cde-4aee-9fbb-1e57df59146d"},"type":"Foreach"}},"outputs":{}},"connectionReferences":{"shared_office365users":{"connectionName":"shared-office365user-b5e64290-3262-4985-9cf7-f8d0-bc52de55","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}