voiceassitant/msflow_wifi/Microsoft.Flow/flows/39d4fcdd-ac52-4db8-bb06-955c36a95b34/definition.json
{"name":"3bcf051b-c092-44c3-a1bf-9e221e7454fb","id":"/providers/Microsoft.Flow/flows/3bcf051b-c092-44c3-a1bf-9e221e7454fb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Smart Office Create Wifi","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1c1e655b-2148-4df6-a1c4-009b2669bd7e","type":"User","tenantId":"e3cf3c98-a978-465f-8254-9d541eeea73c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-18T20:15:30.7230198Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a58ae6c5-876d-4341-947a-5e5a91e7088b"},"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"VisitorHost":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"companyname":{"type":"string"},"mobilenumber":{"type":"number"}}},"method":"POST"}}},"actions":{"Response":{"runAfter":{"CreateNewCredentials":["Succeeded"]},"metadata":{"operationMetadataId":"0ea3156b-8e8e-45a7-90a8-cf6614fd4b21"},"type":"Response","kind":"Http","inputs":{"statusCode":200}},"HTTP":{"runAfter":{},"metadata":{"operationMetadataId":"ad6d6e3b-b6f9-4138-88d9-40d7cae841c5"},"type":"Http","inputs":{"method":"GET","uri":"https://www.passwordrandom.com/query?command=password&scheme=CvvCVCvV-NNNLCvN"}},"CreateNewCredentials":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"3c6ae428-6ea9-4b93-8388-aca9b58608f5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ciscoise-5f896ceeb499d23900-5f777da5cbc1bf1852","connectionName":"shared_ciscoise-5f896ceeb499d23900-5f777da5cbc1bf1852","operationId":"CreateNewCredentials"},"parameters":{"body/GuestUser/name":"@triggerBody()?['name']","body/GuestUser/description":"Visit enabled from Smart Recepcionist","body/GuestUser/guestType":"DD-DAILY-GUEST-TYPE","body/GuestUser/sponsorUserName":"ewerton.pinheiro@global.ntt","body/GuestUser/personBeingVisited":"@triggerBody()?['VisitorHost']","body/GuestUser/reasonForVisit":"Visit enabled from Smart Recepcionist","body/GuestUser/guestInfo/userName":"@triggerBody()?['email']","body/GuestUser/guestInfo/emailAddress":"@triggerBody()?['email']","body/GuestUser/guestInfo/phoneNumber":"@triggerBody()?['MobileNumber']","body/GuestUser/guestInfo/password":"@body('HTTP')","body/GuestUser/guestInfo/enabled":true,"body/GuestUser/guestInfo/company":"@triggerBody()?['companyname']","body/GuestUser/guestAccessInfo/validDays":1,"body/GuestUser/guestAccessInfo/fromDate":"@addHours(utcNow(),-4,'MM/dd/yyyy HH:mm')","body/GuestUser/guestAccessInfo/toDate":"@addHours(utcNow(),20,'MM/dd/yyyy HH:mm')","body/GuestUser/guestAccessInfo/location":"Brasilia Time","body/GuestUser/guestAccessInfo/ssid":"NTT-GUEST","body/GuestUser/portalId":"40963c00-2e02-11e8-ba71-005056872c7f"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_ciscoise-5f896ceeb499d23900-5f777da5cbc1bf1852":{"connectionName":"shared-ciscoise-5f89-d345c9ce-d6af-4522-8f6c-d45d-4dbc9a11","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_ciscoise-5f896ceeb499d23900-5f777da5cbc1bf1852","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}