voiceassitant/msflow_opendoor/Microsoft.Flow/flows/3a8feccd-ae5d-4f6a-a102-3e0c0696f928/definition.json
{"name":"4228c2f5-1760-418f-8257-4ca50edf2f19","id":"/providers/Microsoft.Flow/flows/4228c2f5-1760-418f-8257-4ca50edf2f19","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Smart Office Open Door","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"1c1e655b-2148-4df6-a1c4-009b2669bd7e","type":"User","tenantId":"e3cf3c98-a978-465f-8254-9d541eeea73c"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-17T21:57:08.5971372Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"a58ae6c5-876d-4341-947a-5e5a91e7088b"},"type":"Request","kind":"Http","inputs":{"method":"POST"}}},"actions":{"Response":{"runAfter":{"OpenDoor_2":["Succeeded"]},"metadata":{"operationMetadataId":"0ea3156b-8e8e-45a7-90a8-cf6614fd4b21"},"type":"Response","kind":"Http","inputs":{"statusCode":200}},"Authenticate":{"runAfter":{},"metadata":{"operationMetadataId":"93b8f5ef-921a-4603-88f5-e799f1fe6ee4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852","connectionName":"shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852","operationId":"Authenticate"},"parameters":{"version":"1.0","queue":"false","body/user_name":"EPINHEIROINTERNAL","body/password":"123Mudar@@","body/directory_id":"id-1"},"authentication":"@parameters('$authentication')"}},"OpenDoor_2":{"runAfter":{"Authenticate":["Succeeded"]},"metadata":{"operationMetadataId":"b4157776-3f28-4328-a516-7bdb242fd5ae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852","connectionName":"shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852","operationId":"OpenDoor"},"parameters":{"type_name":"Lnl_Reader","method_name":"OpenDoor","version":"1.0","queue":"false","Application-Id":"0d1129c4-31a8-4ca6-ee7b-aa9b5b45907f","Content-Type":"application/json","Session-Token":"@outputs('Authenticate')?['body/session_token']","body/property_value_map/PanelID":63,"body/property_value_map/ReaderID":2},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852":{"connectionName":"2f1939256c674c54ab7d19f75ef73a7e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_lenelapi-5f896ceeb499d23900-5f777da5cbc1bf1852","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}